* {
    margin: 0px;
    padding: 0px;
}
body {
    color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #4025EE , #1CE730);
    
}

h1 {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 5px;
    letter-spacing: .25em;
}

.colorinput {
    margin: auto;
    padding: 5px;
    width: 10%;
}

input {
    margin-right: 10px;;
    padding: 3px;
    border: 2px grey solid;
    border-radius: 5px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-weight: bold;
}
